	* {
		margin: 0;
		padding: 0; 
		box-sizing: border-box;
				}

	body, html {
		width: 100%;
		height: 100%;
			}

	body {
		display: grid;
		grid-area: 100%;
		height: 100%; /* Full viewport height */
				}

	.PokeHeader {
		background-color: rgba(0, 0, 70);
		padding: 1rem;
		text-align: center;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		gap: 10rem; /* Adjust the space between the logo and the title */
		width: 100%;
		max-height: 30vh;
				}

	.PokeHeader .PokeLogo {
		height: auto;
		margin: 1rem;
		min-width: 20vh;
		max-height: 25vh;
				} 
	
	.PokeHeader .PokeTitle {
		font-family:'Genkaimincho';
		color: rgb(128, 0, 0);
		font-size: 10vh;
				}

	.PokeContent {
		justify-content: center; /* Center the tiles horizontally */
		align-items: center;
		gap: 25vh;
		width: 100%;
		min-height: 100%;
		padding: 2rem;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
					}
			
	.PokeContainerHome {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center; /* Center the tiles horizontally */
		align-items: center;
		gap: 10rem;
		width: 100%;
		padding: 2rem;
		flex: 1 1 calc(33% - 20rem);
		height: 75vh;
				}

	.PokeContainer1 {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center; /* Center the tiles horizontally */
		align-items: center;
		gap: 10rem;
		width: 100%;
		padding: 2rem;
		flex: 1 1 calc(30% - 20rem);
		height: 75vh;
		max-width: 100%;
				}


	.PokeContainer2 {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center; /* Center the tiles horizontally */
		align-items: center;
		gap: 10rem;
		width: 100%;
		padding: 2rem;
		flex: 1 1 calc(25% - 200rem); 
		height: 50vh; 
		max-width: 100%;
				}

	.PokeTileHome {
		background-color: black;
		border: 1rem solid red;
		margin: auto;
		padding: auto;
		box-sizing: border-box;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1 calc(30% - 75vh);
		max-width: 75vh;
		cursor: pointer;
		transition: transform 0.2s;
				}

	.PokeTile1 {
		background-color: black;
		border: 1rem solid red;
		margin: auto;
		padding: auto;
		box-sizing: border-box;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1 calc(30% - 40vh);
		max-width: 40vh;
		cursor: pointer;
		transition: transform 0.2s;
				}

	.PokeTile2 {
		background-color: black;
		border: 1rem solid red;
		margin: auto;
		padding: auto;
		box-sizing: border-box;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1 calc(30% - 50vh); 
		max-width: 50vh;
		cursor: pointer;
		transition: transform 0.2s;
				}

	.PokeTile:hover {
		transform: scale(1.05);
				}

	.PokeImage {
		max-width: 100%; /* Ensures image fits within the tile */
		max-height: 70rem;
				}

	h1 {
		font-family: Avatar;
		color: rgb(255, 0, 0);
		font-size: 4rem;
		text-align: center;
				}

	h2, a {
		display: inline;
		font-family: Avatar;
		font-size: 4rem;
		text-align: center;
			}
	
	a {
		color: #49ffff;
				}

	a:hover {
		background-color: darkblue ;
		color: yellow;
		font-weight: bold;
			}

	img {
		display: grid;
		margin: auto;
			}

	.PokeList {
			flex: 1;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 10rem;
			padding: 2rem;
			max-height: 100%;
			width: 100%;
			background-image: url('../Images/Pokémon\ All-Gen\ Mosaic.png');
			background-size: contain;
			background-position: top;
			background-repeat: repeat-y;
				}

	table {
		font-family: Avatar;
		width: 100%;
		border-collapse: collapse;
		background-color: rgba(240, 248, 255, 0.7);
		background-blend-mode: color;
			}

	.coltab {
		height: 400px;
		overflow-y: scroll;
			}

	th, td {
		border: 3px solid red;
		padding: 8px;
		text-align: center;
		background-color: rgba(255, 255, 255,);
			}
				
	th {
		font-weight: bold;
		cursor: pointer;
				}

	tr:hover {
		background-color: darkblue ;
		color: yellow;
		font-weight: bold;
			}


	

